numpy==1.24.4
pandas
torch==2.3.0 
torchvision==0.18.0
matplotlib
dash
torchinfo
h5py
scipy
nbformat>=4.2.0
ipykernel
livelossplot
setuptools==68.0.0
sphinx
sphinx_rtd_theme
webviz-config